*{
    box-sizing: border-box;
}

body{
    margin: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
    height: 100%;
}

#header {
    min-height: 80px;
    background-color: aquamarine;
}

#main {
    display: flex;
    gap: 15px;
    min-height: 500px;
}

#col_left {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#col_left div {
    min-height: 32px;
    width: 100%;
    background-color: blueviolet;
}

#content {
    width: 50%;
    background-color: burlywood;
    min-height: 200px;
}

#col_right {
    min-height: 200px;
    width: 25%;
    background-color: brown;
}

#footer {
    min-height: 80px;
    background-color: cyan;
}

@media screen and (max-width: 768px){
    #main {
        flex-direction: column;
    }

    #main div {
        width: 100%;
    }
}