body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.love {
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    top: 10rem;
    left: 10rem;
    transition-property: all;
    transition-duration: 1s;
}

.love:before, .love:after {
    content: "";
    height: 0px;
    width: 0px;
    background: red;
    position: absolute;
    /* transition: all 0.3s; */
}

.love:hover {
    transform: rotate(45deg);
}

.love:hover:before,
.love:hover:after {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    position: absolute;
}

.love:before {
    top: 0;
    left: -25px;
}

.love:after {
    top: -25px;
}