main {
    padding: 1rem;
}

img {
    max-width: 100%;
}

.content {
    columns: 1;
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .content { columns: 2; }
}

@media screen and (min-width: 1024px) {
    .content { columns: 3; }
}

@media screen and (min-width: 1400px) {
    .content { columns: 4; }
}

@media print {
    .content { columns: 2; }
}