.container {
    display: grid;
    /* grid-template-areas: "item1 item2 item2"
        "item3 item2 item2"
        "item3 item5 item6"
        "item4 item5 item6"; */
    
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80vh;

}

.item-1 {
    /* grid-area: item1; */
    background: blue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item-2 {
    /* grid-area: item2; */
    background: red;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item-3 {
    /* grid-area: item3; */
    background: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item-4 {
    /* grid-area: item4; */
    background: yellow;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item-5 {
    /* grid-area: item5; */
    background: lightblue;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item-6 {
    /* grid-area: item6; */
    background: lightgreen;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}